@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.theme-button {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.page-light {
  background-color: cornsilk;
  color: black;
}

.page-dark {
  background-color: #4b4f5e;
  color: white;
}

.button {
  min-height: 40px;
  font-size: 20px;
  border-radius: 5px;
  margin: 10px;
}

.button:hover {
  background-color: #b4b4b4;
  box-shadow: 2px 2px 5px gray;
}

.button-dark {
  background-color: #142643;
  color: white;

}

.button-dark:hover {
  background-color: #000c3b;
  box-shadow: 2px 2px 5px black;
}

.header {
  width: 100%;
  position: fixed;
  height: 150px;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7da2c4;
}

.header-dark {
  background-color: #000c3b;

}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 170px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d2bd8f;
  width: 250px;
  box-shadow: 2px 2px 5px gray;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;

}

.card-dark {
  box-shadow: 3px 3px 5px black;
  background-color: #31364c;

}

.item-secondary-text {
  font-size: 22px;
  margin: 5px;
}

.footer {
  width: 100%;
  margin: 30px;
}